<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_dept">
        <table>
            <tr>
                <td>Deptno</td>
                <td><input type="text" name="deptno"></td>
            </tr>
            <tr>
                <td>Dname</td>
                <td><input type="text" name="dname"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
        {{msg}}
    </form>
</body>
</html>