<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/dept_temp">CreateDept</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emp_temp">CreateEmp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list_emp_temp">ListEmployees</a>
            </li>
          </ul>
        </div>
      </nav>
{%block content%}
{%endblock%}
</body>
</html>

