<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <center>
        <form action="/main">
            <table>
                <tr>
                    <td><input type="submit" value="Signin" name="btn"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Signup" name="btn"></td>
                </tr>
            </table>
        </form>
        <h2>{{msg}}</h2>
    </center>
</body>
</body>
</html>