<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/add">
    <table border="1">
        <tr>
            <td>Rollno</td>
            <td><input type="text" name="rno"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Sub1</td>
            <td><input type="text" name="sub1"></td>
        </tr>
        <tr>
            <td>Sub2</td>
            <td><input type="text" name="sub2"></td>
        </tr>
        <tr>
           <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
{{msg}}
</body>
</html>