<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update">
        <table>
            <tr>
                <td>Rollno</td>
                <td><input type="text" name="rno"></td>
            </tr>
            <tr>
                <td>sub1</td>
                <td><input type="text" name="sub1"></td>
            </tr>
            <tr>
                <td>sub2</td>
                <td><input type="text" name="sub2"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"></td>
            </tr>

        </table>
    </form>
    {{msg}}
    
</body>
</html>