<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ProductId</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
        {%for row in qs%}
        <tr>
            <td>{{row.proid}}</td>
            <td>{{row.prodname}}</td>
            <td>{{row.qty}}</td>
            <td>{{row.price}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>