<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <td>ProductId</td>
            <td>{{qs.proid}}<td>
        </tr>
        <tr>
            <td>ProductName</td>
            <td>{{qs.prodname}}</td>
        </tr>
        <tr>
            <td>Qty</td>
            <td>{{qs.qty}}</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>{{qs.price}}</td>
        </tr>

    </table>
</body>
</html>