<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/receive">
            <table>
                <tr>
                    <td>To</td>
                    <td><input type="text" name="to"></td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td><textarea name="message" rows="5" cols="50"></textarea></td>
                </tr>
                <tr>
                    <table><input type="submit" value="send"></table>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>