<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/view/" method="post">
        {%csrf_token%}
    <center>
        <table>
            <tr>
                <td><input type="submit" value="Signin" name="b1"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Signup" name="b1"></td>
            </tr>
        </table>
    </center>
</form>
</body>
</html>