<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/cart">
        <table border="1">
            <tr>
                <td>ProductName</td>
                <td><input type="text" name="pname"></td>
            </tr>
            <tr>
                <td>Qty</td>
                <td><input type="text" name="qty"></td>
            </tr>
            <tr colspan="4">
                <td><input type="submit" value="AddCart" name="b"></td>
                <td><input type="submit" value="UpdateCart" name="b"></td>
                
            </tr>
            <tr>
                <td><input type="submit" value="DeleteCart"
                    name="b"></td>
                <td><input type="submit" value="ViewCart" name="b"></td>
            </tr>
        </table>
        {{msg}}
        </form>
    </center>
</body>
</html>